@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

main {
    margin: auto;
    background-color: #282c34;
}

.App {
    text-align: center;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: 0.5;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.spinner {
    border: 8px solid #fff;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: inherit;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.App-body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-header a {
    display: inline-block;
    height: 64px;
    width: 64px;
}

.App-header a:hover svg g {
    fill: #fff;
}

.disclaimer {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color: #aaa;
}

.buttons {
    gap: 10rem;
    display: flex;
    justify-content: center;
}

#siteName {
    font-size: calc(5.7rem + 2vw);
    font-family: 'Imprima', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-weight: 400;
    margin-bottom: 0.8rem;
    padding: 2rem;
    color: #9fc1db;
    outline: none;
    text-align: center;
}

#siteName:hover {
    font-weight: 400;
    letter-spacing: 1.77px;
    font-variation-settings: 'wght' 582;
    letter-spacing: 1px;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1.1);
    color: white;
}

@media (max-width: 768px) {
    main {
        max-width: 100%;
    }
}
